<nav>
  <div class="nav-wrapper cyan darken-4">
    <a href="#" class="brand-logo">
      <i class="medium material-icons">local_cafe</i>
      <h6>Coffe Questions</h6>
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="#">Item 1</a></li>
      <li><a href="#">Item 2</a></li>
      <li><a href="#">Item 3</a></li>
    </ul>
  </div>
</nav>